<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/estilos/styles.css">
  <title>Franco pet-shop</title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

          <div class="container">
            <div class="row">
              <ul class="navbar-nav col-4 d-flex align-items-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Farmacia</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Juguetes</a>
                </li>
              </ul>
              <h1 class="col align-items-center">Franco pet-shop</h1>
              <box-icon class="col d-flex align-items-center justify-content-end" type='solid' name='cart' style="color: black;">🏠</box-icon>
            </div>
          </div>

        </div>
      </div>
      
    </nav>
  </header>

  <div class="bgimg-1">
    <div class="caption">
      <span class="border">¡Bienvenido a mi tienda!</span>
    </div>
  </div>

  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Nuestra historia</h3>
    <p>Creamos nuestro pet-shop llamado "Franco" (por mi perro de raza Schnauzer) hace ya cinco años. En aquel otoño de
      2017 comenzamos con un pequeño emprendimiento que rápidamente creció y nos permitió expandir nuestros servicios y
      accesorios. A continuación, te vas a enterar todo lo que brindamos y vas a entender porqué nos convertimos en un
      punto de referencia en Caballito y alrededores ¡Esperamos tener noticias tuyas pronto!</p>
  </div>

  <div class="bgimg-2">

    <div class="captionTop">
      <span class="border">ACCESORIOS</span>
    </div>

    <ul class="tableAccesorios">
      <li>Alimentos</li>
      <li>Snacks</li>
      <li>Estética</li>
      <li>Higiene</li>
      <li>Farmacia</li>
    </ul>

  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p>Además, contamos con un excelente servicio veterinario para el cuidado de tu mascota.</p>
    </div>
  </div>

  <div class="bgimg-3">
    <div class="captionTop">
      <span class="border" >VETERINARIA</span>
    </div>

    <ul class="tableAccesorios">
      <li>Análisis</li>
      <li>Ecografía</li>
      <li>Radiografía</li>
      <li>Cirugías</li>
      <li>Y más</li>
    </ul>

  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p>Y no solo contamos con servicios para perros o gatos, enterate acá con qué otros animales trabajamos.</p>
    </div>
  </div>

  <div class="bgimg-1">
    <div class="captionBottom">
      <span class="border">¡BUSCANOS!</span>
    </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  </script>
  <script src="/Script/main.js"></script>
</body>

</html>