<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toys</title>
    <link rel="stylesheet" href="../Assets/styles/main.css">
    <link rel="stylesheet" href="../Assets/styles/toys.css">
</head>
<body>
    <div id="app">
        {{divide}}
        <nav class="nav__container">
            NAVBAR
        </nav>
        <section class="banner__container">
            Banner
        </section >
        <section class="product__container">
            <h2>Featured</h2>

        </section>
        <section class="product__container">
            
            <div class="product__container-toys">

            </div>
            <div class="product__container-Meds">

            </div>
        </section>
        <footer>

        </footer>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="../Script/vue.js"></script>
</body>
</html>