
header{

  background-color: var(--first-color);
}
section{
  background-color: var(--first-color);
}
.map{
  text-align: center;
  color: white;
  width: 100%;
  background-color: var(--sixth-color);
}

.formulario_s{
  padding-top: 25px;
  padding-bottom: 50px ;
}
.mapa_s{
  padding: 50px 0;
}

iframe{
  max-width: 100%;
}
