/* footer */

.payment {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.element {
    width:150px;
}
.info {
    width: 100%;
    background-color: var(--seventh-color);
    display: flex;
    justify-content: center;
}
.info_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1300px;
    margin: 0 30px;
}
.links {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    padding: 30px 0 20px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}
.links ul {
    padding: 0 50px 0 0;
}
.links ul li {
    list-style: none;
}
.links ul li a {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    font-size: 0.9rem;
    transition: 500ms;
}
.links ul li a:hover {
    color: var(--sixth-color);
    transition: 500ms;
}
.links--title{
    color: white;
    font-weight: 900;
}

.social button {
    font-weight: 600;
}
.social{
    padding: 0 50px 0 0;
    margin-bottom: 20px;
}
.social button {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 0.7rem;
    transition: 0.5s;
}
.social button:hover {
    background: var(--sixth-color);
    border: 1px solid white;
    transition: 500ms;
}
.social h4 {
    font-size: 1.05rem;
    margin-bottom: 20px;
}
.social img {
    height: 40px;
}
.social_iconos {
    display: flex;
}
.social_iconos img {
    width: 40px;
    margin-right: 10px;
}

.socialIcons{
    color: white;
    font-size: 40px;
    transition: 500ms;
}

.socialIcons:hover{
    color: var(--sixth-color);
    font-size: 60px;
    transition: 500ms;

}

.partner {
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}
.partner h4 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}
.partner-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.partner-img img {
    height: 90px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.bigImg{
    padding: 25px;
}
.copyright {
    text-align: center;
}
.copyright p {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    font-size: 0.9rem;
}
.copyright a {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    font-size: 0.9rem;
}
.copyright a:hover {
    color: white;
}
@media (max-width: 1359px) {
    footer {
        width: 100vw;
   }
}