
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');


body{
    background-color: var(--first-color);
    font-family: 'Roboto';
    overflow: overlay;
}

a{
    text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

header{
    display: flex;
    background-color: var(--first-color);
    height: 100px;
}


.logo__container{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Smooch';
}
.logo{
    height: 100%;
    padding: 20px;
}


.nav__container{
    
    width: 100%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex:1;
}
.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:20px ;
}

.bx-cart{
    font-size: 30px;
    color: white;
}



.banner__container{
    background-color: var(--second-color);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment__container{
    
    width: 100%;
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 50px;
}

.info-slide h1{
    font-size: 1.2rem;
    margin: 10px 0;
}

.info-slide p{
    font-size: .9rem;
    
}

.margin{
    border-right: 1px solid rgb(201, 201, 201);
    border-left: 1px solid rgb(201, 201, 201) ;
}

.product__container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
    
}



.title{
    width: 100%;
    margin-bottom: 20px;
    color: white;
    display: flex;
    justify-content: center;
    
}

.title h3{

    background-color: black;
    padding: 30px;
    border-radius: 0 0 20px 20px;
    
}



.card{
    border: none;
    width: 300px;
    padding: 15px;
    background-color: var(--sixth-color);
    border-radius: 10px;
    display:flex ;
    flex-flow: column;
    justify-self: flex-end;
    
    
    
}



.card-img{
    width: 100%;
    border-radius: 10px;
    
}

.card-description{
    flex: 1;
    margin: 10px 0;
    color: white;
    font-size: .7rem;
    
}

.name{
    height: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform:capitalize;
    display: flex;
    align-items: center;
}

.card-inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.addCart{
    color: white;
    padding: 5px;
    background-color: var(--second-color);
    border-radius: 0px 10px 10px 0px ;
    border: none;
    font-family: 'Roboto';
}

.price__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--fourth-color);
    border-radius: 10px 0px 0 10px;
    flex: 1;
    
}

.price{
    color: white;
    font-size: 1.1rem;
    
}

.discount{
    color: red;
    font-size: 0.6rem;
}

.mostarMas{
    display: none;
}





.swiper{
    padding-bottom:60px ;
    
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    transition: all .4s ease;
                 
 }
 



  

.prod-img{
    position: relative;
}

.stock{
    color: white;
    padding: 10px;
    position: absolute;
    background-color: red;
    right: 0px;
    top: 0px;
    border-radius: 0 10px 0 0px;
}

/* footer */

.payment {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 50px;
}
.info {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}
.info_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1300px;
    margin: 0 30px;
}
.links {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    padding: 30px 0 20px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}
.links ul {
    padding: 0 60px 0 0;
}
.links ul li {
    list-style: none;
}
.links ul li a {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    font-size: 0.9rem;
}
.links ul li a:hover {
    color: white;
}
.links--title{
    color: white;
}

.links--title, .social button {
    font-family: 'Roboto';
    font-weight: 600;
}
.social {
    padding: 0 60px 0 0;
    margin-bottom: 20px;
}
.social button {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 0.7rem;
    transition: 0.5s;
}
.social button:hover {
    background: white;
    border: 1px solid white;
}
.social h4 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.05rem;
    margin-bottom: 20px;
}
.social img {
    height: 40px;
}
.social_iconos {
    display: flex;
}
.social_iconos img {
    width: 40px;
    margin-right: 10px;
}

.socialIcons{
    color: white;
    font-size: 40px;
}
.partner {
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}
.partner h4 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}
.partner-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.partner-img img {
    height: 90px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.bigImg{
    padding: 25px;
}
.copyright {
    text-align: center;
}
.copyright p {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    font-size: 0.9rem;
}
.copyright a {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    font-size: 0.9rem;
}
.copyright a:hover {
    color: white;
}
@media (max-width: 1359px) {
    footer {
        width: 100vw;
   }
}

.stockCounter{
    width: 60px;
}







  






   
